body {
    font-family: Arial, Helvetica, sans-serif;
}
ul#playlist li{
    border-bottom: 1px solid black;
    padding: 10px;
}
ul#playlist {
    border: 1px solid black;
    list-style-type: none;
}
a { 
    color: goldenrod;
    font-style: bold;
}